.container-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.black-bg {
    background-color: #1C1C1C;
    padding: 3rem 0;
}

.blue-bg {
    height: 10rem;
    background-color: #0282F9;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

.icon {
    height: 3.5rem;
    position: relative;
    z-index: 2;
}

.blue-bg>h4 {
    color: white;
    padding-right: 3rem;
    padding-left: 0.5rem;
    position: relative;
    z-index: 2;
}

.comics-container {
    width: calc((100%/6) - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.comics-container>img {
    width: 50%;
}

.comics-container>h4 {
    font-size: 0.75rem;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

.jumbotron {
    width: 100%;
    height: 22.5rem;
}

.jumbotron>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.blue-btn {
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    background-color: #0282F9;
    border: 2px #0282F9 solid;
    color: white;
}

.btn-container {
    padding-top: 2rem;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    top: -3%;
    left: 7%;
}